.container {
  height: 500px;
  width: 500px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  font-family: "Grand Hotel";
  /* border: 1px solid black; */
}

* {
  /* border: 1px solid red; */
}
iframe {
  margin-bottom: 25px;
  width: 90%;
  height: 350px;
}
h1 {
  margin: 0;
  margin-bottom: 25px;
}

h2 {
  margin: 0;
}
img {
  margin-bottom: 20px;
}
body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: url("https://i.pinimg.com/736x/3a/d5/30/3ad530542f627baf5228e306a14ac40a.jpg");
  backdrop-filter: blur(3px);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

form {
  display: flex;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 10px;
  align-items: center;
  padding: 5px;
  gap: 10px;
  background-color: rgb(255, 255, 255, 0.5);
}

.text-input,
.search-button {
  display: flex;
  height: 40px;
  flex-direction: row;
  align-items: center;
}

.text-input {
  appearance: none;
  border: 0;
  background-color: transparent;
  border: none;

  width: 200px;
  font-size: 12px;
  border-radius: 10px;
}

.text-input::placeholder {
  color: black;
  font-family: "Grand Hotel";
  font-size: 1.75em;
}

/* .text-input:hover {
  box-shadow: 0px 0px 5px 0px #b5b5b5;
} */

form:hover {
  box-shadow: 0px 0px 5px 0px #b5b5b5;
}

.text-input:focus {
  border: 0;
  border-color: transparent;
  outline: none !important;
}

.search-button {
  appearance: none;
  background-color: transparent;
  font-size: 1.75em;
  text-decoration: none;
  color: darkcyan;
  /* padding: 10px; */
  line-height: 1.5;
  transition: 0.65s ease;
  border: 0;
  margin-left: auto;
  cursor: pointer;
  font-family: "Grand Hotel";
}

.search-button:hover {
  color: black;
}

#header {
  font-family: "Grand Hotel";
  font-size: 5em;
}
